@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
	)
	rgb(var(--background-start-rgb));
}


@keyframes leftEye {
	0% {
		transform: scale(0.7, 0) rotate(10deg);
	}
	10% {
		transform: scale(1, 1) rotate(0);
	}
	90% {
		transform: scale(1, 1) rotate(0);
	}
	100% {
		transform: scale(0.7, 0) rotate(10deg);
	}
}
@keyframes rightEye {
	0% {
		transform: scale(0.7, 0) rotate(-10deg);
	}
	25% {
		transform: scale(1, 1) rotate(0);
	}
	95% {
		transform: scale(1, 1) rotate(0);
	}
	100% {
		transform: scale(0.7, 0) rotate(-10deg);
	}
}
#leftEye {
	transform-origin: center;
	animation: leftEye 2s infinite;
}
#rightEye {
	transform-origin: center;
	animation: rightEye 2s infinite;
}
