@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes leftEye {
	0% {
		transform: scale(0.7, 0) rotate(10deg);
	}
	10% {
		transform: scale(1, 1) rotate(0);
	}
	90% {
		transform: scale(1, 1) rotate(0);
	}
	100% {
		transform: scale(0.7, 0) rotate(10deg);
	}
}
@keyframes rightEye {
	0% {
		transform: scale(0.7, 0) rotate(-10deg);
	}
	25% {
		transform: scale(1, 1) rotate(0);
	}
	95% {
		transform: scale(1, 1) rotate(0);
	}
	100% {
		transform: scale(0.7, 0) rotate(-10deg);
	}
}
.leftEye {
	transform-origin: center;
	animation: leftEye 2s infinite;
}
.rightEye {
	transform-origin: center;
	animation: rightEye 2s infinite;
}


.button {
	@apply bg-transparent px-5 py-3 rounded-xl text-gray-900 transition-all font-medium text-center flex items-center gap-2 text-base
}
.button-blue {
	@apply bg-mainBlue hover:bg-mainBlueDarker text-white hover:text-white
}
.button-gray {
	@apply bg-gray-600 hover:bg-gray-700 text-white hover:text-white
}
.button-white {
	@apply bg-white hover:bg-background text-mainBlue hover:text-mainBlue
}
a {
	@apply hover:text-mainBlue
}
